---
---

<section
    class="relative min-h-[80vh] flex flex-col items-center justify-center px-6 py-20 text-center"
>
    {/* Background radial gradient */}
    <div
        class="absolute inset-0 bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-zinc-900/40 via-transparent to-transparent -z-10"
    >
    </div>

    <div
        class="max-w-4xl animate-in fade-in slide-in-from-bottom-8 duration-1000"
    >
        <p
            class="text-[#d4af37] text-[10px] font-bold tracking-[0.3em] uppercase mb-6 bg-gradient-to-r from-[#d4af37] via-[#ffe9a1] to-[#d4af37] inline-block text-transparent bg-clip-text"
        >
            Software Development Engineer
        </p>

        <h1 class="font-serif text-5xl md:text-8xl leading-tight mb-8">
            Architecting <br />
            <span class="italic">Innovative Solution</span>
        </h1>

        <p
            class="text-zinc-400 text-lg md:text-xl max-w-2xl mx-auto mb-12 font-light leading-relaxed"
        >
            Design and build systems with long-term thinking, focusing on
            architecture, engineering trade-offs, and how software behaves at
            scale. Enjoy exploring creative solutions and approaching problems
            with a math-driven mindset.
        </p>

        <!-- hover:bg-gradient-to-r hover:from-[#d4af37] hover:via-[#f0e3a2] hover:to-[#d4af37] -->
        <div
            class="flex flex-col sm:flex-row items-center justify-center gap-6"
        >
            <button
                class="w-full sm:w-auto px-10 py-4 bg-white text-black font-semibold text-xs uppercase tracking-widest hover:bg-zinc-100 transition-all"
            >
                Explore Portfolio
            </button>
            <button
                class="w-full sm:w-auto px-10 py-4 bg-transparent border border-white/10 text-white font-semibold text-xs uppercase tracking-widest hover:border-zinc-100 transition-all"
            >
                Get in Touch
            </button>
        </div>
    </div>
</section>
