---
import { Image } from "astro:assets";
import AspectRatioSizedBox from "./AspectRatioSizedBox.astro";

const { title, description, previewImageUrl } = Astro.props;
---

<div class="bg-white dark:bg-zinc-900 shadow-lg">
  <AspectRatioSizedBox
    height="auto"
    width="100%"
    heightRatio={3}
    widthRatio={2}
  >
    <div class="w-full h-full flex content-center overflow-hidden">
      <Image
        class="object-cover"
        src={previewImageUrl}
        alt="blog_preview"
        width={1000}
        height={1000}
      />
    </div>
  </AspectRatioSizedBox>

  <div class="p-4 space-y-2">
    <h3 class="text-l font-bold text-gray-700 dark:text-gray-300">
      {title}
    </h3>
    <p class="text-sm text-gray-700 dark:text-gray-300 line-clamp-6">{description}</p>
  </div>
</div>
