---

---

<section class="py-16 border-t-[1px] border-solid border-gray-300 dark:border-gray-700 text-gray-700 dark:text-gray-300">
  <div class="container grid grid-cols-4">
    <div class="col-span-1 mb-4">
      <h2 class="font-bold">Explore</h2>
      <div>
        <a
          class="text-gray600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200 text-sm"
          href="/"
        >
          Home
        </a>
      </div>
      <div>
        <a
          class="text-gray600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200 text-sm"
          href="/apps"
        >
          Apps
        </a>
      </div>
      <div>
        <a
          class="text-gray600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200 text-sm"
          href="/projects"
        >
          Projects
        </a>
      </div>
      <div>
        <a
          class="text-gray600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200 text-sm"
          href="/posts"
        >
          Posts
        </a>
      </div>
      <div>
        <a
          class="text-gray600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200 text-sm"
          href="#contact"
        >
          Contact
        </a>
      </div>
    </div>

    <div class="col-span-1 mb-4">
      <h2 class="font-bold">All Versions</h2>
      <div>
        <a
          class="text-gray600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200 text-sm"
          href="/v0.1.0"
        >
          v0.1.0
        </a>
      </div>
      <div>
        <a
          class="text-gray600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200 text-sm"
          href="/v1.12.0"
        >
          v1.12.0
        </a>
      </div>
    </div>

    <div class="col-span-1 mb-4">
      <div class="">
        <a
          class="underline text-gray600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200 text-sm"
          href="/terms_of_services"
        >
          Terms of Services
        </a>
      </div>
    </div>

    <div class="col-span-1 mb-4">
      <div class="">
        <a
          class="underline text-gray600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200 text-sm"
          href="/privacy_policy"
        >
          Privacy Policy
        </a>
      </div>
    </div>
  </div>
</section>
